* {
  padding: 0;
  margin: 0;
}

.support {
  height: 50px;
  background-color: #061375;
  display: flex;
  justify-content: center;
}

.supportHolder {
  width: 85%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navigations1 {
  width: 450px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigations2 {
  width: 400px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigations1 span {
  color: white;
  display: flex;
  align-items: center;
}

.navigations2 span {
  color: white;
}

.spanicon {
  height: 17px;
  width: 17px;
  object-fit: contain;
}

.accounticon {
  height: 17px;
  width: 17px;
  object-fit: contain;
}
.naira {
  height: 17px;
  width: 17px;
  object-fit: contain;
}

.cart {
  height: 17px;
  width: 17px;
  object-fit: contain;
}

.phoneicon {
  height: 17px;
  width: 17px;
  object-fit: contain;
  margin-right: 5px;
}

.emailicon {
  height: 12px;
  width: 12px;
  object-fit: contain;
  margin-right: 5px;
}

.whatappicon {
  height: 17px;
  width: 17px;
  object-fit: contain;
  margin-right: 5px;
}

.header {
  background-color: #1b2fc7;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid white;
}

.headerHolder {
  width: 85%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigations span {
  color: white;
  font-size: 17px;
}

.logo {
  height: 50px;
  width: 150px;
  object-fit: contain;
}

.downIcon {
  height: 7px;
  width: 7px;
  object-fit: contain;
  margin-left: 5px;
}

.navigations {
  width: 500px;
  display: flex;
  justify-content: space-between;
}
.hero {
  height: calc(100vh - 120px);
  background-color: #1b2fc7;
  display: flex;
  justify-content: center;
  align-items: center;
}
.heroHolder {
  width: 85%;
  /* background-color: yellow; */
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.heroHolder p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  font-size: 31px;
  color: white;
  text-align: center;
}
.heroHolder span {
  color: white;
  font-size: 600;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
  margin-top: 15px;
}
.Inputdiv {
  height: 60px;
  border: 1px solid white;
  width: inherit;
  border-radius: 5px;
  margin-top: 80px;
  display: flex;
  align-items: center;
  padding-left: 10px;
}
.searchinput {
  width: 90%;
  height: 45px;
  border: 0;
  outline: none;
  background-color: inherit;
}
.search {
  height: 30px;
  width: 30px;
  object-fit: contain;
}
.searchinput::placeholder {
  font-size: 18px;
  color: rgb(204, 199, 199);
}
